body{

    background-image: url("background.gif");
    background-size: cover;
    color: black;
    
    }
    
    .heading{
    
    width: 80%;
    font-size: larger; 
    color: cyan;
    background-color: black;
    
    }
    
    .name_of_obj{
    
    color: rgb(168, 117, 22);
    
    }
    
    #camera{
    
    width: 350px;
    height: 300px;
    border: 3px solid black;
    
    }
    
    #result_obj_name , #result_obj_acc{
    
    color:rgb(6, 172, 194);
    
    }